[submodule "ext/Catch2"]
	path = ext/Catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "ext/eigen"]
	path = ext/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "ext/trompeloeil"]
	path = ext/trompeloeil
	url = git@github.com:rollbear/trompeloeil.git
[submodule "yocto/poky"]
	path = yocto/poky
	url = git://git.yoctoproject.org/poky.git
	branch = scarthgap
[submodule "yocto/meta-ti"]
	path = yocto/meta-ti
	url = git@github.com:TexasInstruments/meta-ti.git
	branch = scarthgap
[submodule "yocto/meta-arm"]
	path = yocto/meta-arm
	url = git://git.yoctoproject.org/meta-arm
	branch = scarthgap
[submodule "yocto/meta-openembedded"]
	path = yocto/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = scarthgap
